<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit
      [ingredient]="selectedIngredient"
      (on-add)="onAddIngredient($event)"
    ></app-shopping-edit>
    <hr>
    <ul class="list-group">
      @for (ingredient of ingredients; track $index) {
        <li>
          <a
            class="list-group-item"
            style="cursor: pointer;"
            (click)="updateSelectedIngredient($index)"
          >
            {{ ingredient.name }} ({{ ingredient.amount }})
          </a>
        </li>
      }
    </ul>
  </div>
</div>
